@model Recipe
@{
    ViewBag.Title = "ReciPedia";
}
<div class="text-center">
    <p>
        <h3>
            ReciPedia
        </h3>
        A food wiki that contains various recipes
    </p>
    <img style="width: 100%; display: block; margin-left: auto; margin-right: auto;" src="~/images/photo-tile.jpg" />
</div>

<br />
<p>
    <h5>
        What should eat today?
    </h5>
    Get food insight from ReciPedians. Anyone can view detail recipe.
</p>
<p>
    <h5>
        Hard to find recipe?
    </h5>
    ReciPedia offers powerful search and category filtering.
</p>
<p>
    <h5>
        Can not find recipe?
    </h5>
    <a asp-controller="Account" asp-action="Register">Register now</a> and add recipe! You can easily manage your recipes.
</p>

<br /><div class="text-center"><p><h3>Make your food life smarter with ReciPedia</h3></p></div>