@model LoginModel
@{
    ViewBag.Title = "Login - ReciPedia";
}
<h3 class="text-center">Login</h3>
<br />
<form asp-action="Login" asp-controller="Account" method="post">
    @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
    {
        <div class="alert alert-danger">
            <p>@Html.ValidationSummary(true)</p>
        </div>
    }
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="col-sm-4 offset-sm-4 form-group-sm">
        <input placeholder="Email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-sm-4 offset-sm-4 form-group-sm">
        <input placeholder="Password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <br />
    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Login" />
    </div>
</form>
<br />
<div class="text-center">
    <p>Don't have an account yet? <a asp-action="Register">Sign up</a></p>
</div>